/.idea
/.vscode
*/.vs
NugetGenerator/obj
NugetGenerator/bin/Debug
NugetGenerator/bin/Release/netstandard2.1/*
!NugetGenerator/bin/Release/netstandard2.1/*.deps.json
!NugetGenerator/bin/Release/netstandard2.1/*.dll
!NugetGenerator/bin/Release/netstandard2.1/*.pdb
/target
Cargo.lock